<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @list.admin %>
</p>

<p>
  <strong>Check list:</strong>
  <%= @list.check_list %>
</p>

<p>
  <strong>User:</strong>
  <%= @list.user %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
