<!DOCTYPE html>
<html>
  <head>
    <title>Aquila</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <% if flash.any? %>
    <script type="text/javascript">Materialize.toast('<%=notice%>',3000, 'orange')</script>
  <% end %>

    <%= render 'partials/nav' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
